:root {
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

body {
  background-image: url("./Static/hospital.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

/* CSS for the navigation bar */
.navbar {
  background-color: #55e6d7;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index:999;
}

.navbar img {
  height: 50px;
  width: 150px;
  margin-top:0.7rem;
}

.navbar .right-buttons {
  margin-right: 40px;
}

.navbar a {
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: font-size 0.2s ease; /* Reduced transition duration */
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.navbar a:hover {
  background-color: black;
  color: black;
  background-color: #ffffff00;
  color: #fff;
  font-size: 24px;
  font-weight: bolder;
}


/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9991;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9992;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 30px;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 99999;
  top: -10px;
  width: 30px;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
  z-index: 0; /* Move the menu behind the toggler button */
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

.menu-wrap {
  display: none;
}

/* CSS for the divisions */
.left-section,
.right-section {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.left-section {
  background-color: #ffffff00;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 40px;
  background-color: #ffffff6f;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.container h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ebebeb98;
  font-size: 16px;
  outline: none;
}

.form-group button,
.form-group input[type="button"]{
  outline: none;
  height: 40px;
  text-align: center;
  width: 130px;
  border-radius: 40px;
  background: #fff;
  border:none !important;
  color: #1ECD97;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.25s ease;
}
.form-group button:hover,
.form-group input[type="button"]:hover{
  color: white;
  background: #1ECD97;
}
.form-group button:active,
.form-group input[type="button"]:active{
 letter-spacing: 2px;
}
.form-group button:hover,
.file-label:hover {
  background-color: #25beaf;
  color: #fff;
}

.file-label {
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: #25beaf;
  color: #fff;
  width: 60%;
  height: 15px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.hidden-input {
  display: none;
}

.file-name-display {
  display: inline-block;
  padding: auto;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}
/* Additional CSS to style all buttons */
.navbar a {
  transition: all 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

.form-group button:hover {
  text-decoration: none;
}
.form-group button {
  padding-left: 20px;
  padding-right: 20px;
}

/* Media query for mobile screens */
@media screen and (max-width: 768px) {
  body {
    background-size: auto;
  }

  .right-buttons {
    display: none;
  }

  .navbar img {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .menu-wrap {
    display: block;
  }

  .left-section,
  .right-section {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 100%;
    float: none;
  }

  .container {
    padding: 20px;
    margin: 20px;
  }
  .form-group button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .form-group input[type="button"],
  .form-group input[type="button"]{
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
  .form-group input[type="text"],
  .form-group button,
  .form-group input[type="button"],
  .form-group input[type="button"]{
    width:100%;
    padding-right: 15px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .right-section {
    margin-top: 20px;
    margin-left: 2.5rem;
  }

  /* Stack sections on mobile screens */
  .stacked-sections {
    width: 100%;
    float: none;
  }
}
