<!DOCTYPE html>
<html>

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link rel="icon" href="Static/Logo_IMG_BR.png" type="image/x-icon" />
  <link rel="stylesheet" href="homepage.css" />
  <title>Medix</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <!-- Hamburger Menu -->
  <section class="size">
    <div class="menu-wrap">
      <input type="checkbox" class="toggler" />
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="about.html">About Us</a></li>
              <li><a href="homepage.html">Home</a></li>
              <li><a href="report.html">Report</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Navigation Bar -->
  <div class="navbar">
    <div>
      <img src="Static/Logo.png" alt="Logo" />
    </div>
    <div class="right-buttons">
      <a href="about.html">About Us</a>
      <a href="homepage.html">Home</a>
      <a href="report.html">Report</a>
    </div>
  </div>

  <br /><br /><br /><br /><br />

  <!-- Left Section - Creative Registration Form -->
  <div class="left-section">
    <br /><br /><br />
    <div class="container">
      <h2>Registration Form</h2>
      <form>
        <div class="form-group">
          <label for="name">Patient Name:</label>
          <input type="text" id="name" name="name" autocomplete="off" />
        </div>

        <div class="form-group">
          <label for="email">Patient ID:</label>
          <input type="text" id="PID" name="PID" />
        </div>
      </form>
    </div>
  </div>

  <!-- Right Section - Upload -->
  <div class="right-section">
    <h2>Upload</h2>
    <form>
      <label for="fileUpload" class="file-label" style="text-align: center; font-size: medium">Choose File</label>
      <input type="file" id="fileUpload" name="fileUpload" class="hidden-input" onchange="toggleSubmitButton()" /><br>
      <span id="fileNameDisplay" class="file-name-display">No file chosen</span>
      <div class="form-group" style="margin-top:5px">
        <button class="button" id="submitBtn"
          style="width: 15%; height: 35px; background-color: #25beaf">Submit</button>
      </div>
      <div class="form-group">
        <input type="text" id="textBox" name="textBox" style="vertical-align: top; width: 80%; height: 180px"
          readonly />
      </div>
      <div class="form-group">
        <input type="button" value="Save" style="width: 40%; background-color: #00c04b" />
        <input type="button" value="Clear" style="width: 40%; background-color: #ff3632" />
      </div>
    </form>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>

    $(function () {
      $("#submitBtn").click(function () {
        $("#submitBtn").addClass("onclic", 250, validate);
      });

      function validate() {
        setTimeout(function () {
          $("#submitBtn").removeClass("onclic");
          $("#submitBtn").addClass("validate", 450, callback);
        }, 2250);
      }

      function callback() {
        setTimeout(function () {
          $("#submitBtn").removeClass("validate");
        }, 1250);
      }
    });</script>
  <script src="homepage.js"></script>
</body>

</html>